@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #454545;
    --cor-secundaria: #FF6000;
    --cor-terciaria: #FFA559;
    --cor-hover: #FFE6C7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat', sans-serif";
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    
}

.apresentacao__conteudo__titulo {
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__conteudo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    width: 593px;
    height: 144px;    
}

.apresentacao__link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    
}

.apresentacao__link__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.apresentacao__link__links {
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 200px;
    text-align: center;
    border: 3px inset var(--cor-secundaria) ;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration-line: none;
    padding: 8px 0;
    color: var(--cor-secundaria);
}

.apresentacao__link__links:hover{
    background-color: var(--cor-hover);
    padding: 0.5%;
}

.apresentacao__conteudo__texto {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__imagem{
    width: 480px;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
}

